.main-background {
    -fx-background-color: #DADADA;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-height: 768;
    -fx-pref-width: 1200;
}

.chat-block {
    -fx-background-color: #F4F6F8;
    -fx-background-radius: 10px;
    -fx-pref-height: 650;
    -fx-max-height: 650;
    -fx-pref-width: 700;
    -fx-max-width: 700;
}

.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: rgb(0, 0, 0, 0.2);
    -fx-border-width: 0 1 1 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
}

.chat-list-block {
    -fx-background-color: #F4F6F8;
    -fx-background-radius: 10px;
    -fx-pref-height: 490;
    -fx-pref-width: 250;
}

.profile-block {
    -fx-background-color: #F4F6F8;
    -fx-background-radius: 10px;
    -fx-pref-height: 120;
    -fx-pref-width: 250;
}

.chat-background {
    -fx-background-color: #F4F6F8;
}

.type-area {
    -fx-background-color: #F4F6F8;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-pref-width: 650;
    -fx-pref-height: 150;
    -fx-font-size: 16px;
}

.type-area .content {
    -fx-background-color: #F4F6F8;
    -fx-border-color: transparent;
    -fx-border-witth: 0;
}

.send-button {
    -jfx-button-type: FLAT;
    -fx-text-fill: #06C179;
    -fx-background-color: #E9E9E9;
    -fx-background-radius: 3;
    -fx-pref-height: 18;
    -fx-pref-width: 120;
    -fx-font-size: 16px;
}

.chat-room-title {
    -fx-font-size: 24px;
}

.send-button:hover {
    -fx-background-color: #D2D2D2;
    -fx-text-fill: #06AE57;
}

.user-name-label {
    -fx-font-size: 16px;
}

.new-chat-button {
    -jfx-button-type: FLAT;
    -fx-text-fill: #06C179;
    -fx-background-color: #E9E9E9;
    -fx-background-radius: 3;
    -fx-pref-height: 18;
    -fx-pref-width: 120;
    -fx-font-size: 16px;
}

.new-chat-button:hover {
    -fx-background-color: #D2D2D2;
    -fx-text-fill: #06AE57;
}

.new-chat-title {
    -fx-font-size: 20px;
    -fx-font-weight: BOLD;
}

.user-list-view {
    -fx-background-color: transparent;
    -fx-border-color: BLACK;
    -fx-border-width: 2;
}

.user-list-view-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.user-list-view .list-cell:odd {
    -fx-background-color: #F4F6F8;
}

.user-list-view .list-cell:even {
    -fx-background-color: WHITE;
}

.tag-label {
    -fx-font-weight: BOLD;
    -fx-font-size: 16;
}

.create-button {
    -jfx-button-type: FLAT;
    -fx-text-fill: #06C179;
    -fx-background-color: #E9E9E9;
    -fx-background-radius: 3;
    -fx-pref-height: 18;
    -fx-pref-width: 120;
    -fx-font-size: 16px;
}

.create-button:hover {
    -fx-background-color: #D2D2D2;
    -fx-text-fill: #06AE57;
}

.chat-room-list-view-label  {
    -fx-font-weight: BOLD;
    -fx-font-size: 20px;
    -fx-text-fill: BLACK;
}

.chat-room-list-view {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.chat-room-list-cell-empty {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.chat-room-list-cell {
    -fx-background-color: #E2E2E2;
}

.chat-room-list-cell:hover {
    -fx-background-color: #D2D2D2;
}

.chat-room-list-cell:selected {
    -fx-background-color: #D0D0D0;
}