.message-field-left {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 16px;
}

.message-field-right {
    -fx-background-color: #98EC6A;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 16px;
}

.name-label {
    -fx-font-size: 14px;
    -fx-text-fill: #B2B2B2;
    -fx-padding: 0 5 0 5;
}

.message-field-right:hover {
    -fx-background-color: #89D961;
}

.message-field-left:hover {
    -fx-background-color: #EBEBEB;
}

.message-box {
    -fx-pref-width: 680;
    -fx-min-width: 680;
}